.contact {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: hsl(var(--black-300));
  padding-bottom: 0;
}

.contact > hr {
  border: 1px solid hsl(var(--grey));
  border-radius: 25px;
  width: 100%;
}

.contact > .content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.content > .text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding-inline: 40px;
}

.content > .text > .subtitle {
  max-width: 696px;
  flex: auto;
}

.content > .text > .phonemail {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex: 1;
}

.content > .text > .phonemail > a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  line-height: 0.8;
  color: hsl(var(--light-blue));
  border: 2px solid hsl(var(--light-blue));
  border-radius: 50px;
  padding: 10px 24px;
  margin: 0.1px;
}

.content > .resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
  background-color: hsl(var(--black));
  border: 2px solid hsl(var(--grey));
  border-radius: var(--radius-m);
  padding: 52px 64px;
}

.content > .resume > * {
  min-width: fit-content;
  flex: auto;
}

.content > .resume > p {
  color: hsl(var(--white));
  font-weight: 600;
  line-height: 1.6;
}

.content > .resume > .button {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
  color: hsl(var(--white));
  background-color: hsl(var(--blue));
  border-radius: var(--radius-s);
  padding: 20px 60px;
  overflow: hidden;
}

/* Media query */
@media (max-width: 810px) {
  .contact {
    gap: 24px;
  }

  .contact > div:first-child {
    padding: 0;
  }

  .contact > .content {
    gap: 38px;
  }

  .content > .text {
    gap: 28px;
    padding-inline: 0;
  }

  .content > .text > .phonemail > a {
    font-size: 18px;
  }

  .content > .resume {
    padding: 30px 28px;
    gap: 28px;
  }

  .content > .resume > p {
    line-height: 1.45;
    text-align: center;
  }

  .content > .resume > .button {
    padding: 16px 48px;
  }
}
