.experience,
.education {
  display: flex;
  flex-direction: column;
  gap: 96px;
  background-color: hsl(var(--black-300));
}

.experience {
  padding-bottom: 16px; /* Adjusted for timeline */
}

.education {
  border-radius: 0;
  padding-block: calc(153px - 16px - 6px) calc(153px - 6px);
}

.experience > .content,
.education > .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
}

.job > .title {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title > h3 {
  margin-bottom: calc(38px - 0.2em);
}

.title > h4 {
  margin-bottom: 16px;
}

.job > .position,
.school > .title,
.school > .degree {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.job > .position > .details {
  margin-bottom: 64px;
}

.job > .position > .details > h4 {
  margin-bottom: 16px;
}

.school > .degree > p {
  margin-bottom: 32px;
}

.tags {
  gap: 14px;
}

.tags > p {
  color: hsl(var(--white-300));
  font-weight: 400;
}

/* Timeline */
.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 115px;
  flex-shrink: 0;
}

.timeline > .mainDot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: hsl(var(--blue));
  flex-shrink: 0;
  margin-bottom: -1px;
}

.timeline > .dateBox {
  position: absolute;
  top: -8px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.timeline > .dateBox > .date > p {
  font-size: 1.25rem;
  text-align: end;
}

.timeline > .dateBox > .date > p.year {
  font-weight: 700;
}

.timeline > .dateBox > .smallDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px hsl(var(--blue));
  margin-right: 4px;
  flex-shrink: 0;
}

.timeline > .line,
.timeline > .smallLine {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: hsl(var(--blue));
  margin: 6px 12px;
}

.timeline:has(.dateBox) > .line {
  margin-top: 26px;
}

.school > .degree > .timeline > .line {
  margin-top: -8px;
}

.timeline > .smallLine {
  position: relative;
  height: 16px;
  background-color: hsl(var(--blue) / 0.75);
  margin-top: 0;
  flex-shrink: 0;
}

.timeline > .smallLine::after {
  content: "";
  position: absolute;
  bottom: -22px;
  width: 4px;
  height: 16px;
  border-radius: 2px;
  background-color: hsl(var(--blue) / 0.5);
}

/* Media query */
@media screen and (max-width: 810px) {
  .experience {
    gap: 72px;
  }

  .education {
    gap: 72px;
    padding-block: calc(116px - 16px - 6px) calc(116px - 6px);
  }

  .job > .title {
    gap: 14px;
  }

  .job > .position,
  .school > .title,
  .school > .degree {
    gap: 10px;
  }

  .content > .job > .details > h3,
  .content > .school > .details > h3 {
    margin-bottom: 32px;
  }

  .tags {
    gap: 10px;
  }

  /* Timeline mobile */
  .timeline {
    width: 25px;
    align-items: center;
    margin-bottom: -1px;
  }

  .timeline > .mainDot {
    width: 24px;
    height: 24px;
    margin-top: 1px;
  }

  .timeline > .dateBox {
    position: static;
    margin-top: 1px;
  }

  .timeline > .dateBox > .date {
    display: none;
  }

  .timeline > .dateBox > .smallDot {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .timeline:has(.dateBox) > .line {
    margin-top: 6px;
  }

  .timeline > .line,
  .timeline > .smallLine {
    width: 3px;
    margin-inline: 0;
  }

  .timeline > .smallLine::after {
    width: 3px;
  }
}
