.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: var(--max-width);
  padding-block: 48px;
  margin: 0 auto;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin-inline: 4rem;
  text-align: center;
}

.hero > .container > .subheading {
  font-weight: 500;
}

.hero > .container > .heading > span {
  background: -webkit-linear-gradient(
    270.5deg,
    hsl(var(--blue)) 33%,
    hsl(var(--pink)) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Background glowing circles */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background > .circle_top_right,
.background > .circle_btm_left {
  position: absolute;
  aspect-ratio: 2.02;
  background: hsl(var(--blue) / 0.25);
  border-radius: 50%;
  filter: blur(300px);
}

.background > .circle_top_right {
  top: -5%;
  right: -2%;
  height: 300px;
}

.background > .circle_btm_left {
  bottom: -5%;
  left: -5%;
  height: 350px;
}

/* Media query */
@media screen and (max-width: 810px) {
  .hero {
    min-height: 100vh;
  }

  .hero > .container {
    gap: 48px;
    margin: 22px;
  }

  .hero > .container > .subheading {
    font-size: 25px;
  }

  .hero > .container > .heading {
    font-size: clamp(36px, 5vw, 42px);
  }

  .background {
    display: none;
  }
}
