.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  max-width: var(--max-width);
  padding-block: 48px;
  margin: 0 auto;
}

.hero > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin-inline: 4rem;
  text-align: center;
}

.hero > .header > .subheading {
  font-weight: 500;
}

.hero > .header > .heading > span {
  background: -webkit-linear-gradient(
    270.5deg,
    hsl(var(--blue)) 33%,
    hsl(var(--pink)) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Background glowing circles */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      ellipse 75% 75% at 75% 25%,
      hsl(var(--blue) / 0.25) 0%,
      hsl(var(--blue) / 0.21) 25%,
      hsl(var(--blue) / 0.13) 50%,
      hsl(var(--blue) / 0.06) 70%,
      hsl(var(--blue) / 0.02) 85%,
      transparent 100%
    ),
    radial-gradient(
      ellipse 75% 75% at 25% 75%,
      hsl(var(--blue) / 0.25) 0%,
      hsl(var(--blue) / 0.21) 25%,
      hsl(var(--blue) / 0.13) 50%,
      hsl(var(--blue) / 0.06) 70%,
      hsl(var(--blue) / 0.02) 85%,
      transparent 100%
    );
  background-size: 36% 34%;
  background-position: 100% 0%, 0% 100%;
  mix-blend-mode: screen;
}

/* Background noise overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url("/images/noise.svg");
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

/* Media query */
@media screen and (max-width: 810px) {
  .hero::before {
    background-image: radial-gradient(
        ellipse 85% 85% at 85% 15%,
        hsl(var(--blue) / 0.25) 0%,
        hsl(var(--blue) / 0.21) 25%,
        hsl(var(--blue) / 0.13) 50%,
        hsl(var(--blue) / 0.06) 70%,
        hsl(var(--blue) / 0.02) 85%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 85% 85% at 15% 85%,
        hsl(var(--blue) / 0.25) 0%,
        hsl(var(--blue) / 0.21) 25%,
        hsl(var(--blue) / 0.13) 50%,
        hsl(var(--blue) / 0.06) 70%,
        hsl(var(--blue) / 0.02) 85%,
        transparent 100%
      );
    background-size: 70% 28%, 70% 25%;
  }

  .hero::after {
    opacity: 0.7;
  }

  .hero > .header {
    gap: 48px;
    margin: 22px;
  }

  .hero > .header > .subheading {
    font-size: 25px;
  }

  .hero > .header > .heading {
    font-size: clamp(36px, 5vw, 42px);
  }

  .hero > .header > .description {
    display: none;
  }

  .background {
    display: none;
  }
}
