.navbar {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 69px;
  background-color: hsl(var(--black) / 0.7);
  border: 2px solid hsl(var(--grey) / 0.7);
  border-radius: var(--radius-m);
  backdrop-filter: blur(10px);
  padding: 15px 32px;
  z-index: 1000;
  opacity: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  height: 37px;
  min-width: fit-content;
  cursor: pointer;
}

.logo > svg {
  width: 100%;
  height: 100%;
}

.hamburger {
  display: none; /* hide the hamburger menu on desktop */
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.links > a:hover:not(.button) {
  color: hsl(223 98% 65%); /* slightly lighter blue */
  transition: color font-weight margin-inline 0.3s ease;
}

.links > .button {
  background-color: hsl(var(--blue));
  border-radius: var(--radius-s);
  padding: 10px 26px;
  overflow: hidden;
}

.links > .button > span {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  color: hsl(var(--white));
}

/* Media query */
@media screen and (max-width: 810px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    height: 52px;
    padding: 7px 14px;
  }

  .logo {
    height: 28px;
  }

  .hamburger {
    display: block;
    height: 34px;
    width: 34px;
    cursor: pointer;
    user-select: none;
  }

  .hamburger > svg {
    position: absolute;
  }
  .hamburger > svg:last-child {
    display: none;
    opacity: 0;
  }

  .links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    padding: 10px;
  }

  .links > * {
    transform: translateY(-15px);
    opacity: 0;
  }

  .links > a:not(.button) {
    font-size: 1.4rem;
  }

  .links > .button {
    display: flex;
    place-content: center;
    width: 100%;
    height: 44px;
    font-size: 20px;
    margin-bottom: 1px;
  }
}
